.a-dock {}
  .a-dock .c-screen--title {
    margin: -0.05em 0 0.4em 0;
  }
  .a-dock--economy {
    font-size: 1.333em;
    line-height: 1;
  }
  .a-dock--level {
    background-color: #FFFFFF;
    color: #FF0069;
    font-size: 0.666em;
    padding: 0.125em 0.25em;
    position: relative;
    top: -1px;
    vertical-align: middle;
  }
  .a-dock--welcome {}
