.a-game {
  max-width: unset;
  position: relative;
}
  .a-game-blanked::after {
    background-color: #000000;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  .a-game--target {
    bottom: 1.5rem;
    font-size: 0.75em;
    left: 1.5rem;
    position: absolute;
  }
  .a-game--targetVisual {
    background-color: #000000;
    padding: 0.5em 1em;
  }
