.a-game {
  max-width: unset;
  position: relative;
}
  .a-game--target {
    background-color: rgba(0, 0, 0, 1);
    bottom: 2em;
    font-size: 0.75em;
    left: 2em;
    padding: 0.5em 1em;
    position: absolute;
  }
