:root {
  background-color: #FF0069;
  color: #FFFFFF;
  font-family: FiraCodeRegular, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
}

:focus {
  animation: focus 0.5s linear 0s infinite alternate both;
  outline: 0.375em solid #000000;
}

[hidden] {
  display: none !important;
}

button {
  cursor: pointer;
}
button[aria-disabled="true"],
button[disabled] {
  cursor: not-allowed;
}

/* Responsive fluid font sizing */
@media (max-width: 20rem) {
  body {
    font-size: 0.5rem;
  }
}

@media (min-width: 20rem) {
  body {
    font-size: calc(0.5rem + ((1vw - 0.4rem) * 1));
  }
}

@keyframes focus {
  0% {
    outline-width: 0.375rem;
  }
  100% {
    outline-width: 0.125rem;
  }
}
